body {
  background-image: url('../grafiken/colored_bg.png') ;
  background-size: 3000px 1500px;
}

.logodiv {
  margin: 25px auto 0px auto;
  width: 64px;
  height: 65px;
  background-color: #302F2F;
  border-color: #302F2F;
  border-width: 1px;
  border-radius: 6px;
}

.maindiv {
  background-color: #302F2F;
  border-color: #302F2F;
  height: 285px;
  width: 30%;
  margin: 45px auto 0px auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
}

#button_blue {
  background-color: DeepSkyBlue;
  font-size: 20px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 5px;
  border-top-width: 5px;
  border-color: #0093D3;
  border-radius: 5px;
  padding: 3px 35px 3px 35px;
  transition: 500ms;
}

#button_blue:hover {
  border-color: deepskyblue;
  transition: 500ms;
}

#button_red {
  background-color: orange;
  font-size: 20px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 5px;
  border-top-width: 5px;
  border-color: #DE8400;
  border-radius: 5px;
  padding: 3px 35px 3px 35px;
  transition: 500ms;
}

#button_red:hover {
  border-color: orange;
  transition: 500ms;
}

#info_p {
  color: white; 
  margin: 80px 0px 0px 40px;
  width: 78%;
  border-color: white; 
  border-style: solid; 
  border-width: 1px;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
}

#ueberinfo1 {
  color: white;
  font-size: 24px;
  margin: 25px 0px 0px 40px;
}