.maindiv {
  background-color: #302F2F;
  border-color: #302F2F;
  width: 80%;
  min-width: 800px;
  margin: 10px auto 0px auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 0px 0px 20px 20px;
  height: 500px;
}

.titlediv {
  margin: 0px auto 0px auto;
  height: 65px;
  text-align: center;
  display: flex;
}

#title_indiv_title {
  color: white;
  font-size: 24px;
  flex: 7;
}

#title_indiv_facepalm {
  flex: 4;
}

#ueberinfo1 {
  color: white;
  font-size: 24px;
  float: right;
  margin: 30px 0px 0px 0px;
}

#facepalm {
  width: 45px;
  height: 45px;
  float: left;
  margin: 20px 0px 0px 10px;
}

.settings_container {
  display: flex;
}

.settingdiv1 {
  background-color: orange;
  border-top-width: 10px;
  border-top-color: #DE8400; 
  border-top-style: solid;
  flex: 1;
  padding: 25px 25px 15px 25px;
}

#title1 {
  color: white;
  margin: 0px 0px 10px 0px;
}

#input_alert_text {
  width: 100%;
  height: 35px;
  margin: 0px 0px 15px 0px;
}

#ckb_enable_alert {
  width: 25px;
  height: 25px;
  float: left;
}

#enable_alert_label {
  color: white;
  float: left;
  margin: 6px 0px 0px 4px;
}

#button_orange {
  background-color: orange;
  font-size: 20px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 5px;
  border-top-width: 5px;
  border-color: #DE8400;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
  transition: 500ms;
  float: right;
  position: relative;
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
}

#button_orange:hover {
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
  background-color: #DE8400;
  transition: 500ms;
  cursor: pointer;
}

.settingdiv2 {
  background-color: deepskyblue;
  border-top-width: 10px;
  border-top-color: #0093D3; 
  border-top-style: solid;
  flex: 1;
  padding: 25px 25px 15px 25px;
}