.maindiv {
  background-color: #302F2F;
  border-color: #302F2F;
  width: 80%;
  min-width: 800px;
  margin: 10px auto 0px auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 0px 0px 20px 20px;
}

.head_container {
  display: flex;
  height: 60px;
  margin: 0px 0px 25px 0px;
}

#title_flex1 {
  flex: 7;
}

#title_flex2 {
  flex: 4;
}

#title1 {
  color: white;
  margin: 20px auto 0px auto;
  float: right;
}

#edit_icon {
  border-color: white;
  color: white;
  background-color: #302F2F;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  padding: 5px 8px;
  font-size: 35px;
  float: right;
  margin: 15px 15px 0px 0px;
  transition: 600ms;
}

#edit_icon:hover {
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 1);
  transition: 200ms;
  cursor: pointer;
}

#label_p_text {
  color: white;
  margin: 5px 0px 0px 0px;
}

#label_title_info {
  color: white;
  text-decoration: underline;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
}

.d_blue {
  color: white;
  fonz-size: 24px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 10px;
  border-radius: 4px;
  background-color: deepskyblue;
  border-color: deepskyblue;
  border-left-color: #0093D3;  
  width: 80%;
  margin: 0px auto 25px auto;
  padding: 10px;
}

.d_orange {
  color: white;
  fonz-size: 24px;
  border-style: solid;
  border-bottom-style: dotted;
  border-width: 1px;
  border-left-width: 10px;
  border-radius: 4px;
  background-color: orange;
  border-color: orange;
  border-left-color: #DE8400;  
  width: 80%;
  margin: 0px auto 25px auto;
  padding: 10px;
}

.d_green {
  color: white;
  fonz-size: 24px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 10px;
  border-radius: 4px;
  background-color: green;
  border-color: green;
  border-left-color: #005900;  
  width: 80%;
  margin: 0px auto 25px auto;
  padding: 10px;
}

#btn_del_info {
  border-color: white;
  color: white;
  background-color: #302F2F;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  padding: 2px 5px;
  float: right;
}

#btn_del_info {
  cursor: pointer;
}